.main-section{
   width: 1280px;
   display: flex;
   padding: 159px 0 159px 0;
}

.main-section__information {
   display: flex;
   flex-direction: column;
}

.main-section__title{

}

.main-section__description {

}

.main-section__work-time {

}

.main-section__location {

}

.main-section__picture {

}

.main-section > img {
   box-shadow: 0 0 10px #333;
}